@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #111;
  min-width: 1023px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 89px 120px 0px 120px;
  background-image:
    radial-gradient(
      circle 250px at 75% 25%,
      rgba(109, 109, 255, 0.3),
      transparent
    ),
    radial-gradient(
      circle at calc(50% - 80px) 95%,
      rgba(109, 109, 255, 0.35),
      transparent 20%
    ),
    radial-gradient(
      circle at calc(50% + 100px) 92%,
      rgba(109, 109, 255, 0.3),
      transparent 20%
    );

  background-repeat: no-repeat;
}

.header {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0px;
}

.header-title {
  max-width: 793px;
  max-height: 156px;
  color: #fff;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
  margin: 0;
}

.header-title-line {
  display: block;
}

.header-subtitle {
  max-width: 790px;
  max-height: 25px;
  color: #ffffff80;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding-top: 15px;
}

.header-description {
  max-width: 793px;
  max-height: 150px;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding-top: 30px;
}

.header-image {
  position: absolute;
  top: -49px;
  right: 0;
  width: 387px;
  height: 500px;
}

.personal-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 30px 0 0 0;
  gap: 20px;
}

.personal-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-image: linear-gradient(to right, #7c3aed, #6366f1);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 5px;
}

.personal-link:hover {
  opacity: 0.5;
}

.tools {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 110px 0 0 0;
}

.subtitles {
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #fff;
  margin: 0;
  padding: 0;
}

.tools-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 50px 0 0 0;
}

.proyects {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 100px 0 0 0;
}

.proyects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
  margin-top: 24px;
}

.proyect-card {
  background-color: #1c1c1c;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.proyect-thumbnail {
  position: relative;
  margin: 0;
}

.proyect-image {
  width: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 16/9;
}

.proyect-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  pointer-events: none;
}

.tech-badges {
  position: absolute;
  bottom: 10px;
  left: 12px;
  display: flex;
  gap: 10px;
}

.tech-icon {
  width: 40px;
  height: 40px;
}

.proyect-info {
  height: 340px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.proyect-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.proyect-description {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  flex: 1;
  padding-top: 20px;
}

.proyect-links {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.demo-button:hover {
  opacity: 0.5;
}

.github-button:hover {
  opacity: 0.5;
}

.footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 100px 0 0 0;
  text-align: center;
}

.email {
  text-decoration: none;
  color: #6d6dff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

.email:hover {
  opacity: 0.5;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.social-media-button:hover {
  opacity: 0.5;
}

@media (max-width: 1439px) {
  body {
    min-width: 320px;
    max-width: 100%;
    padding: 40px 40px 0px 40px;
    background-image:
      radial-gradient(
        circle 350px at 85% 10%,
        rgba(109, 109, 255, 0.3),
        transparent
      ),
      radial-gradient(
        circle at calc(50% - 80px) 95%,
        rgba(109, 109, 255, 0.35),
        transparent 20%
      ),
      radial-gradient(
        circle at calc(50% + 100px) 92%,
        rgba(109, 109, 255, 0.3),
        transparent 20%
      );

    background-repeat: no-repeat;
  }

  .header-image {
    margin-top: 0;
    width: 30%;
    height: auto;
  }

  .header-title,
  .header-subtitle {
    max-width: calc(100% - 140px);
    max-height: none;
  }

  .header-title {
    font-size: 58px;
  }

  .header-description,
  .personal-links {
    max-width: 68%;
    max-height: none;
  }

  .personal-links {
    padding: 20px 0 0 0;
    gap: 30px;
  }

  .proyects-cards {
    grid-template-columns: 1fr;
  }

  .proyect-image {
    aspect-ratio: 344/165;
  }

  .proyect-info {
    height: auto;
  }
}

@media (max-width: 767px) {
  body {
    max-width: 100%;
    padding: 20px 20px 0px 20px;
    background-image:
      radial-gradient(
        circle 350px at 50% 10%,
        rgba(109, 109, 255, 0.3),
        transparent
      ),
      radial-gradient(
        circle at calc(50% - 80px) 95%,
        rgba(109, 109, 255, 0.35),
        transparent 20%
      ),
      radial-gradient(
        circle at calc(50% + 100px) 92%,
        rgba(109, 109, 255, 0.3),
        transparent 20%
      );

    background-repeat: no-repeat;
  }

  .header-image {
    order: -1;
    position: static;
    width: calc(100% + 40px);
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 0px 32px 0px;
  }

  .header-title,
  .header-subtitle {
    max-width: 100%;
  }

  .header-title {
    font-size: 36px;
  }

  .header-description {
    max-width: 100%;
    font-size: 16px;
  }

  .personal-links {
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
  }

  .subtitles {
    font-size: 28px;
  }

  .tools-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 32px 40px;
  }

  .proyect-image {
    aspect-ratio: 28/16;
  }

  .proyect-info {
    padding: 20px;
  }

  .proyect-title {
    font-size: 20px;
  }

  .proyect-description {
    font-size: 16px;
  }

  .tech-badges {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 5px;
  }

  .tech-icon {
    width: 20px;
    height: 20px;
  }

  .social-media {
    gap: 40px;
  }
}
