@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0%;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0%;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0%;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0%;
  font-display: swap;
}

body {
  background-color: #111;
  min-width: 1023px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 89px 120px 0px 120px;
  background-image:
    radial-gradient(
      circle 250px at 75% 25%,
      rgba(99, 102, 241, 0.3),
      transparent
    ),
    radial-gradient(
      circle at calc(50% - 80px) 95%,
      rgba(147, 51, 234, 0.35),
      transparent 20%
    ),
    radial-gradient(
      circle at calc(50% + 100px) 92%,
      rgba(99, 102, 241, 0.3),
      transparent 20%
    );

  background-repeat: no-repeat;
}

.header {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0px;
}

.header-title {
  max-width: 793px;
  max-height: 156px;
  color: #fff;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  margin: 0;
}

.header-subtitle {
  max-width: 790px;
  max-height: 25px;
  color: #ffffff80;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding-top: 15px;
}

.header-description {
  max-width: 793px;
  max-height: 150px;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding-top: 30px;
}

.header-image {
  position: absolute;
  margin-top: -49px;
  right: 0;
  width: 387px;
  height: 500px;
}

.personal-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 30px 0 0 0;
  gap: 20px;
}

.personal-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-image: linear-gradient(to right, #7c3aed, #6366f1);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 5px;
}

.tools {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 110px 0 0 0;
}

.subtitles {
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
}

.tools-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 50px 0 0 0;
}

.proyects {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 100px 0 0 0;
}

.proyects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
  margin-top: 24px;
}

.proyect-card {
  background-color: #1c1c1c;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.proyect-thumbnail {
  position: relative;
  margin: 0;
}

.proyect-image {
  width: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 16/9;
}

.tech-badges {
  position: absolute;
  bottom: 10px;
  left: 12px;
  display: flex;
  gap: 10px;
  height: 40px;
  width: 40px;
}

.tech-icon {
  width: 40px;
  height: 40px;
}

.proyect-info {
  height: 340px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.proyect-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.proyect-description {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  flex: 1;
  padding-top: 20px;
}

.proyect-links {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 100px 0 0 0;
  text-align: center;
}

.email {
  text-decoration: none;
  color: #6d6dff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
  margin-bottom: 100px;
}
